In [ ]:
'hello'

In [ ]:
"i'm going to a run"

In [1]:
print("hello")

hello

In [1]:
mystring = 'hello bitch'

In [ ]:
mystring[1]

In [ ]:
mystring[0]

In [ ]:
mystring[-1]

In [2]:
mystring[2:]

'llo bitch'

In [3]:
mystring[:3]

'hel'

In [ ]:
mystring[3:6]

In [4]:
mystring[::2]

'hlobth'

In [5]:
mystring='Hello World'

In [7]:
mystring[5]

' '

In [8]:
mystring[::-1]

'dlroW olleH'

In [3]:
name = 'P' + name[1:]

In [4]:
name

'Pam'

In [ ]:
'2'+'3'

In [ ]:
a='2'+'5'

In [2]:
name='claudio'

In [3]:
name.

AttributeError: 'str' object has no attribute 'function'

In [4]:
a='vaffanculo scemo'

In [10]:
a.split()

['vaffanculo', 'scemo']

In [ ]:
a.split()

In [ ]:
a.split(f)

In [7]:
a.split('f')

NameError: name 'a' is not defined

In [13]:
print('this is a fucking string {}'.format('TI ODIO'))

this is a fucking string TI ODIO

In [14]:
print('the {} {} {}'.format('fox','brown','is'))

the fox brown is

In [17]:
print('the {1} {0} {2}'.format('fox','brown','is'))

the brown fox is

In [16]:
print('the {0} {2} {1}'.format('fox','brown','is'))

the fox is brown

In [18]:
name = 'claudio'

In [19]:
print('my name is {}'.format(name))

my name is claudio

In [ ]:
print(f'my name is {name}')

SyntaxError: invalid syntax (<ipython-input-22-38b1139de0e1>, line 1)

In [ ]:
print('the result of the operation is {r:3.3f}'.format(r=result))

In [23]:
my_list=[1,2,3]

In [24]:
my_list.reverse()

In [ ]:
my_list=['string', 100, 23.4]

In [25]:
my_list

[3, 2, 1]

In [8]:
my_list=['STRING', 100, 23.4]

In [9]:
my_list

['STRING', 100, 23.4]

In [10]:
my_list = ['la vita è']; another_list = ['meravigliosa']

In [11]:
my_list + another_list

['la vita è', 'meravigliosa']

In [26]:
my_list=['one', 'two', 'three', 'four']

In [27]:
my_list.append('five')

In [28]:
my_list

['one', 'two', 'three', 'four', 'five']

In [ ]:
my_list.pop()

In [ ]:
my_list.pop('three')

In [29]:
my_dict={'key1':'value1','key2':'value2'}

In [31]:
my_dict.keys()

dict_keys(['key1', 'key2'])

In [ ]:
my_dict['key1']

In [ ]:
prices={'apple':2.99,'orange':1.99,'milk':3.2}

In [ ]:
prices['apple']

In [ ]:
prices['orange']

In [ ]:
d = {'k1':123,'k2':[0,1,2],'k3':{'insideKey':100}}

In [ ]:
d

In [ ]:
d['k3']['insideKey']

In [32]:
t=(1,2,3)

In [33]:
type(t)

tuple

In [39]:
myset=set()

In [40]:
myset.add(1)

In [41]:
set('vaffanculo scemo')

{' ', 'a', 'c', 'e', 'f', 'l', 'm', 'n', 'o', 's', 'u', 'v'}

In [ ]:
1<2

In [ ]:
1>2

In [ ]:
1==1

In [ ]:
b=None

In [ ]:
b

In [ ]:
pwd

In [ ]:
%%writefile mytext.txt

In [ ]:
%%writefile mytext.txt
this is the first line
this is the second line

In [ ]:
mytext=open('mytext.txt')

In [ ]:
mytext

In [ ]:
mytext.read()

In [ ]:
with open('mytext.txt',mode='r') as myfile:
    contents = myfile.read()

In [ ]:
contents

ora vediamo come funzionano i cicli iterativi

In [14]:
mylist=[1,2,3,4]
for item in mylist:
    print(item)

1
2
3
4

In [15]:
num = [1,2,3,4,5,6,7,8,9,10]
for item in num:
    #check for even numbers
    if (item % 2 == 0):
        print (f'Even number: {item}')
    else:
        print (f'Odd number: {item}')

Odd number: 1
Even number: 2
Odd number: 3
Even number: 4
Odd number: 5
Even number: 6
Odd number: 7
Even number: 8
Odd number: 9
Even number: 10

In [16]:
list_sum=0;
mylist = [1,2,3,4,5,6,7,8,9,10]; 

for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [44]:
mystring = 'Hello World'
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [45]:
tup = (1,2,3)
for item in tup:
    print(item)

1
2
3

In [46]:
mylist=[(1,2), (3,4),(5,6),(7,8)]
len(mylist)

4

In [48]:
mylist[3]

(7, 8)

In [49]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [50]:
for (a,b) in mylist:
    print(a)

1
3
5
7

In [51]:
d = {'k1':1,'k2':2,'k3':3}
for key,values in d.items():
    print(key)
    print(values)

k1
1
k2
2
k3
3

In [60]:
len(d)

3

In [17]:
x=0
while x<3:
    print(f'Ma porctruiaa x è ancora piccola, vale {x} e non {3} gesu madonna')
    x=x+1 #or x += 1

Ma porctruiaa x è ancora piccola, vale 0 e non 3 gesu madonna
Ma porctruiaa x è ancora piccola, vale 1 e non 3 gesu madonna
Ma porctruiaa x è ancora piccola, vale 2 e non 3 gesu madonna

In [61]:
x=[1,2,3]
for item in x:
    print(item)
    pass  #pass do NOTHING

1
2
3

In [19]:
mystring = 'fanculo'
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

f
n
c
u
l
o

In [20]:
x=0
while x<3:
    if x==2:
        break
    print(f'Ma porctruiaa x è ancora piccola, vale {x} e non {3} gesu madonna')
    x=x+1 #or x += 1

Ma porctruiaa x è ancora piccola, vale 0 e non 3 gesu madonna
Ma porctruiaa x è ancora piccola, vale 1 e non 3 gesu madonna

In [1]:
list(range(4,21,2))

[4, 6, 8, 10, 12, 14, 16, 18, 20]

In [21]:
index=0;

for letter in 'abcdefghi':
    print(f'at index {index} the letter is {letter}')
    index += 1

at index 0 the letter is a
at index 1 the letter is b
at index 2 the letter is c
at index 3 the letter is d
at index 4 the letter is e
at index 5 the letter is f
at index 6 the letter is g
at index 7 the letter is h
at index 8 the letter is i

In [62]:
word = 'vaffanculo'
for letter in enumerate(word):
    print (letter)

(0, 'v')
(1, 'a')
(2, 'f')
(3, 'f')
(4, 'a')
(5, 'n')
(6, 'c')
(7, 'u')
(8, 'l')
(9, 'o')

<enumerate object at 0x000001B4BE2DE948>

In [4]:
mylist1=[1,2,3]
mylist2=['a','b','c']

In [6]:
for item in zip(mylist1, mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [7]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [8]:
1 in [1,2,3]

True

In [10]:
Name=input('What is you name: ')

What is you name: Claudio

In [22]:
input('')

ciao

'ciao'

In [13]:
type(Name)

str

In [65]:
mystring = 'hello'

In [23]:
mylist=[]
for letter in mystring:
    mylist.append(letter)

In [66]:
mylist

[(1, 2), (3, 4), (5, 6), (7, 8)]

In [67]:
mylist=[letter for letter in mystring]

In [69]:
print(mylist)

['h', 'e', 'l', 'l', 'o']

In [70]:
mylist %voglio stampare a video il risultato

['h', 'e', 'l', 'l', 'o']

In [25]:
mylist=[num**2 for num in range(0,11)] #** is the 2 power of the number

In [21]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
mylist=[x**2 for x in range(0,11) if x % 2 == 0]

In [25]:
mylist

[0, 4, 16, 36, 64, 100]

In [26]:
celsius=[0,10,20,34.5]

fahrenheit=[((9/5)*temp + 32) for temp in celsius]

In [27]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [28]:
c

In [29]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [30]:
mylist=[]

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [31]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [71]:
mylist = [x*y for x in [2,4,6] for y in [1,10,100]]

In [72]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [75]:
print([x for x in [1,2,3,4]])

[1, 2, 3, 4]

In [82]:
def print_hello():
    '''
    DOCSTRING: Information about the function
    INPUT: no input
    OUTPUT: hello
    '''
    print('hello')
    return 0

In [83]:
print_hello()

hello

0

In [84]:
def add(n1,n2):
    sum = n1+n2
    print(sum)
    return sum

In [85]:
add(3,7)

10

10

In [89]:
def add_any(list):
    result = sum(list)
    return result

In [90]:
list=[1,2,3,4,5]
add_any(list)

15

In [26]:
def say_hello(name):
    print('hello ' + name)

In [27]:
say_hello('')

hello

In [31]:
say_hello('man')

hello man

In [32]:
result

In [11]:
def say_hello(name):
    return ('hello ' + name)

In [33]:
result=say_hello('bitch')

hello bitch

result

In [34]:
result

In [15]:
def add(n1,n2):
    return n1+n2

In [16]:
result=add(5,8)

In [17]:
result

13

In [18]:
#find out if the word dog is in a string

In [86]:
def dog_check(mystring):
    if 'dog' in mystring:
        return True
    else:
        return False

In [87]:
dog_check('my dog run away')

True

In [88]:
dog_check('my Dog run away')

False

In [26]:
def dog_check(mystring):
    return 'dog' in mystring.lower()

In [28]:
dog_check('my Dog run away')

True

In [29]:
# creating function PIG LATIN: if word starts with a vowel add 'ay' at the end,
# if not put first letter at the end and then add 'ay'

In [35]:
def pig_latin(word):
    first_letter=word[0]
    #check if vowel
    if first_letter in 'aeiou':
        pig_word = word + 'ay'
    else:
        pig_word = word[1:] + first_letter + 'ay'
    return pig_word

In [36]:
pig_latin('ciccione')

'iccionecay'

In [37]:
pig_latin('amore')

'amoreay'

In [33]:
def is_even(n1):
    if n1%2 == 0:
        return True
    else:
        return False

In [35]:
is_even(9)

False

In [36]:
def is_even(n1):
    return n1%2==0

In [37]:
is_even(8)

True

In [38]:
is_even(9)

False

In [44]:
def myfunc(a,b,c=0,d=0,e=0):
    return sum((a,b,c,d,e))*0.05

In [46]:
myfunc(40,60,30)

6.5

In [91]:
def myfunc(*args):
    return sum(args)*0.05

In [92]:
myfunc(3,2,6,7,8)

1.3

In [94]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruits here')

In [98]:
myfunc(fruit = 'apple', veggie = 'zucchine')

{'fruit': 'apple', 'veggie': 'zucchine'}
My fruit of choice is apple

In [111]:
dict={'fruits':'banana','veggye':'calamari','bread':'panuello'}
def myfunc(dict):
    print(dict)
    if 'fruits' in dict:
        print('My fruit of choice is {}'.format(dict['fruits']))
    else:
        print('I did not find any fruits here')

In [112]:
myfunc(dict)

{'fruits': 'banana', 'veggye': 'calamari', 'bread': 'panuello'}
My fruit of choice is banana

In [57]:
def myfunc(*args, **kwargs):
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [58]:
myfunc(3, food = 'bistecche al pepe verde')

I would like 3 bistecche al pepe verde

In [20]:
def list_even_numb(*args):
    num_even = []
    for num in args:
        if num%2==0:
            num_even.append(num)
    return num_even

In [21]:
list_even_numb(1,2,3,4,5,6,7,8)

[2, 4, 6, 8]

In [18]:
#functions 10 skyline

In [55]:
def skyline(string):
    string2=''
    for ind in range(len(string)):
        if ind%2==0:
            string2 = string2 + string[ind].upper()
        else:
            string2= string2 + string[ind].lower()
    return string2

In [56]:
skyline('ma porco dio, Forza milan')

'Ma pOrCo dIo, FoRzA MiLaN'

In [139]:
string='hello'
for letter in range(len(string)):
    print(letter)

0
1
2
3
4

In [150]:
def skyLine(string):
    new_string=''
    for letter in range(len(string)):
        if letter%2==0:
            new_string += string[letter].lower()
        else:
            new_string += string[letter].upper()
    return new_string

In [152]:
skyLine('DIOOOOcaneee')

'dIoOoOcAnEeE'

In [57]:
 #Funcion Practice Excercises

In [58]:
#WARMUP

In [66]:
#1
def less_two_evens(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [69]:
#LEVEL 1

In [172]:
def animal_crackers(text):
    wordlist=text.lower().split()
    return wordlist[0][0]==wordlist[1][0]
# the first index is for the word 
# (0 is the first, 1 is the second)
# the second is for the index of the letter

In [136]:
animal_crackers('Level lama')

True

In [41]:
def old_macdonald(name):
    return name[0].upper() + name[1:3] + name[3].upper() + name[4:]

In [39]:
def old_macdonald(name):
    return name[:3].capitalize() + name[3:].capitalize()

In [42]:
old_macdonald('macdonald')

'MacDonald'

In [95]:
def master_yoda(sentence):
    sentence_yoda=''
    words = sentence.split()
    for w in range(len(words)-1, -1, -1):
        sentence_yoda = sentence_yoda + ' ' + words[w]
    return sentence_yoda

In [141]:
def master_yoda(text):
    wordlist=text.split()
    return wordlist[::-1]
#this method creates a list, not a real string

In [142]:
def master_yoda(text):
    wordlist=text.split()
    return ' '.join(wordlist[::-1])

In [143]:
master_yoda('We are ready')

'ready are We'

In [185]:
text='ciao belli raga ciao wee'
words=text.split()
for ind in range(len(words)-1,-1,-1):
    print(words[ind])
    print(ind)

wee
4
ciao
3
raga
2
belli
1
ciao
0

In [99]:
def almost_there(n):
    return 90<=n<=110 or 190<=n<=210

In [43]:
def almost_there(n):
    return (abs(100-n)<=10 or abs(200-n)<=10)

In [44]:
almost_there(188)

False

In [103]:
#LEVEL 2

In [188]:
def has_33(nums):
    for n in nums:
        if nums[n]==3 and nums[n+1]==3:
            return True
    return False

In [190]:
def has_33(nums):
    for n in range(len(nums)-1):
        check = nums[n]==3 and nums[n+1]==3
        return check

In [147]:
def has_33(nums):
    for n in range(len(nums)-1):
         if nums[n]==3 and nums[n+1]==3:
            return True
    return False

In [191]:
# Check
has_33([3, 3, 1, 3])

True

In [194]:
n=3
m=4
check= n==3 and m==5
print(check)

False

In [110]:
def paper_doll(text):
    text_x3=''
    for lett in text:
        text_x3 += lett*3
    return text_x3

In [111]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [125]:
def blackjack(a,b,c):
    s=a+b+c
    if s<=21:
        return s
    elif s>21 and (a==11 or b==11 or c==11):
        s = s - 10
        if s<=21:
            return s
        else:
            return 'BUST'
    else:
        return 'BUST'

In [152]:
def blackjack(a,b,c):
    s=sum([a,b,c])
    if s<=21:
        return s
    elif 11 in [a,b,c] and s <=31:
        return s-10
    else: 
        return 'BUST'

In [154]:
blackjack(9,9,9)

'BUST'

In [157]:
def summer_69(arr):
    total=0
    add = True
    for num in arr:
        while add:
            if num!=6:
                total += num
                break
            else: 
                add = False
        while not add:
            if num!=9:
                break
            else:
                add = True
                break
    return total

In [158]:
summer_69([1,3,5,6,3,9,5])

14

In [1]:
def spy_game(nums):
    code=[0,0,7,'x']
    for num in nums:
        if num == code[0]:
            code.pop(0)
    return code==['x']

In [3]:
spy_game([0,0,3,5,0,6,7])

True

In [5]:
def count_prime(num):
    if num<2:
        return 0
    #store the prime number 
    primes = [2]
    #x is a counter going up to the input num
    x=3
    while x<= num:
        for y in primes:
            if x%y==0:
                x+= 2 
                break
            else:
                primes.append(x)
                x += 2
    print(primes)
    return len(primes)

In [6]:
count_prime(20)

[2, 3, 5, 7, 11, 13, 17, 19]

8

In [24]:
def square(num):
    return num**2

In [45]:
my_nums=[1,2,3,4,5]
for item in map(square,my_nums):
    print(item)

NameError: name 'square' is not defined

In [26]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [27]:
def splicer(mystring):
    if len(mystring)%2==0:
        return 'EVEN'
    else:
        return mystring[0]

In [28]:
names=['Andy', 'Eve', 'Sally']

In [30]:
list(map(splicer,names))

['EVEN', 'E', 'S']

In [31]:
def check_even(num):
    return num%2==0

In [32]:
mynums=[1,2,3,4,5,6]

In [33]:
list(filter(check_even,mynums))

[2, 4, 6]

In [36]:
square = lambda num: num**2

In [37]:
square(5)

25

In [38]:
list(map(lambda num: num**2, mynums))

[1, 4, 9, 16, 25, 36]

In [39]:
list(filter(lambda num: num%2,mynums))

[1, 3, 5]

In [41]:
list(map(lambda x: x[::-1],names))

['ydnA', 'evE', 'yllaS']

In [2]:
def vol(rad):
    return 4/3*pi*(rad**3)

In [26]:
def ran_boolean(num,low,high):
    return num in range(low,high)

In [28]:
ran_check(5,6,9)

False

In [33]:
def upper_lower_counter(string):
    d={'upper':0, 'lower':0}
    for c in string:
        if c.isupper():
            d['upper']+=1
        elif c.islower():
            d['lower']+=1
        else:
            pass
    print (f'Original string: ', string)
    print (f'Nomber of upper case characters: ', d['upper'])
    print (f'Nomber of lower case characters: ', d['lower'])

In [34]:
upper_lower_counter('La Madonna è Una Puttana')

Original string:  La Madonna è Una Puttana
Nomber of upper case characters:  4
Nomber of lower case characters:  16

In [36]:
def check_palindrome(string):
    return string == string[::-1]

In [38]:
check_palindrome('abba')

True